
.container {
    background-color: #d99985;
    min-height: 100vh;
}

.introduction{
padding-top: 10px;
text-align: center;
}

.introduction h2{
    font-size: 2.5rem;
        color: #fdf5e6;
        font-family: 'Cormorant Garamond',
                serif;
}

.introduction p {
    font-size: 1.5rem;
    color: #865444;
    font-weight: 600 ;
    padding-right: 60px;
    padding-left: 60px;
    padding-bottom: 50px;
    font-family: 'Cormorant Garamond',
        serif;

}